{% extends 'base_template.html.twig' %}

{% block title %}
	{{ title }}
{% endblock %}

{% block content %}

	<div class="container my-5">
		<h1 class="text-center mb-4">Ajouter un projet</h1>
		<p class="text-center">Ajoutez un nouveau projet.</p>
	</div>

	<div class="container">
		<form method="POST" action="index.php?controller=projets&methode=create" class="col-lg-6 mx-auto" enctype="multipart/form-data">
			<input type="hidden" name="id" value="">
			<div class="mb-3">
				<label for="titre" class="form-label">Titre</label>
				<input type="text" class="form-control" id="titre" name="titre" value="" required>
			</div>
			<div class="mb-3">
				<label for="description" class="form-label">Description</label>
				<textarea class="form-control" id="description" name="description" rows="5" required></textarea>
			</div>
			<div class="mb-3">
				<label for="annee" class="form-label">Année</label>
				<input type="number" class="form-control" id="annee" name="annee" value="" required>
			</div>
			<div class="mb-3">
				<label for="type" class="form-label">Type de projet</label>
				<select name="type" id="type" class="form-select" required>
					<option value="Universitaire" {{ projet.type == 'Universitaire' ? 'selected' : '' }}>Universitaire</option>
					<option value="Personnel" {{ projet.type == 'Personnel' ? 'selected' : '' }}>Personnel</option>
					<option value="Professionnel" {{ projet.type == 'Professionnel' ? 'selected' : '' }}>Professionnel</option>
				</select>
			</div>
			<div class="mb-3">
				<label for="technologies" class="form-label">Technologies</label>
				<select name="technologies[]" id="technologies" class="form-select" multiple required>
					{% for techno in technologies %}
						<option value="{{techno.id}}"> {{techno.nom}} </option>
					{% endfor %}
				</select>
			</div>
			<div class="mb-3">
				<label for="imageCover" class="form-label">Image de couverture</label>
				<input type="file" class="form-control" id="imageCover" name="imageCover">
			</div>
			<button type="submit" class="btn btn-primary">Ajouter le projet</button>		
		</form>
	</div>

{% endblock %}
