{% extends 'base_template.html.twig' %}

{% block title %}Maxime BOURCIEZ | Portfolio
{% endblock %}

{% block content %}
	<div class="container my-5">
		<div class="row align-items-center">
			<div class="col-lg-6">
				<h1>Salut, je suis Maxime BOURCIEZ<br>Étudiant en Informatique</h1>
				<p>Je suis étudiant en deuxième année de BUT Informatique au sein de l'IUT de Bayonne et du Pays Basque. J'ai toujours aimé coder et résoudre des problèmes grâce au codage, et c'est pourquoi j'ai choisi cette formation.</p>
				<a href="assets/CV Maxime BOURCIEZ.png" download="assets/CV Maxime BOURCIEZ.png" class="btn btn-primary">
					Télécharger mon CV
				</a>
			</div>
			<div class="col-lg-6 text-center">
				<img src="assets/profile-1.png" alt="Photo de profil" class="img-fluid rounded-circle">
			</div>
		</div>
	</div>
	<div class="bg-light px-5">
		<div class="bg-light px-5 text-center pt-5">
			<h3>Quelques-uns de mes projets</h3>
			<a href="index.php?controller=projets&methode=index" class="btn btn-primary mt-3">En découvrir +</a>
		</div>

		<div class="container">
			<div class="row bg-light pt-5">
				{% for project in projets %}
					<a class="col-md-4 mb-4 text-decoration-none" href="index.html?controller=projets&methode=show&id_projet={{project.id}}">
						<div class="card h-100 shadow-sm">
							<img src="{{ project.imageCover }}" class="card-img-top w-100 p-2 image-rounded-top" style="height: 250px; object-fit: cover;" alt="Image de {{ project.titre }}">
							<div class="card-body">
								<h3 class="card-title">{{ project.titre }}</h3>
								<div class="d-flex align-items-center">
									<span class="badge bg-secondary me-2">{{ project.annee }}</span>
									<h4 class="card-subtitle text-muted">
										{% for techno in project.technologies %}
											{{ loop.first ? '' : ', ' }}{{ techno.nom }}
										{% endfor %}
									</h4>
								</div>
								<p class="card-text mt-3">{{ project.description }}</p>
							</div>
						</div>
					</a>
				{% endfor %}
			</div>
		</div>
	</div>
{% endblock %}
