{% extends 'base_template.html.twig' %}

{% block title %}Home
{% endblock %}

{% block content %}
	<div class="main">
		<div class="info">
			<h1>Salut, je suis Maxime BOURCIEZ
				<br>Étudiant en Informatique</h1>
			<p>Je suis étudiant en deuxième année de BUT Informatique au sein de l'IUT de Bayonne et du Pays Basque. J'ai toujours aimé coder et résoudre des problèmes grâce au codage, et c'est pourquoi j'ai choisi cette formation.</p>
			<a href="assets\CV Maxime BOURCIEZ.png" download="assets\CV Maxime BOURCIEZ.png">
				<button>Télécharger mon CV</button>
			</a>
		</div>
		<img src="assets/profile-1.png">
	</div>


	<div class="separator">
		<h3>Quelques-uns de mes projets</h4>
		<a href="works.html">En découvrir +</a>
	</div>

	<div class="featured">
		{% for project in projets %}
			<div class="item">
				<img src="{{ project.imageCover }}">
				<div class="details">
					<h3>{{ project.titre }}</h3>
					<div class="item-info">
						<div class="year-badge">{{ project.annee }}</div>
						<h4>
							{% for techno in project.technologies %}
								{{ loop.first ? '' : ', ' }}{{ techno.nom }}
							{% endfor %}
						</h4>
					</div>
					<p>{{ project.description }}</p>
				</div>
			</div>
		{% endfor %}

	</div>


{% endblock %}
