{% extends 'base_template.html.twig' %}

{% block title %}Projets
{% endblock %}

{% block content %}
	<h1>Projets</h1>
	<p>Voici les projets que j'ai réalisés.</p>

	<h2>Projets</h2>
	<div class="content">
		<div class="works-list">
			{% for project in projets %}
				<div class="item">
					<img src="{{ project.imageCover }}">
					<div class="details">
						<h3>{{ project.titre }}</h3>
						<div class="item-info">
							<div class="year-badge">{{ project.annee }}</div>
							<h4>
								{% for techno in project.technologies %}
									{{ loop.first ? '' : ', ' }}{{ techno.nom }}
								{% endfor %}
							</h4>
						</div>
						<p>{{ project.description }}</p>
					</div>
				</div>
			{% endfor %}
		</div>
	</div>


{% endblock %}
