{% extends 'base_template.html.twig' %}

{% block title %}Projet |
	{{ title }}
{% endblock %}

{% block content %}
<div class="flex-grow-1">
	<!-- Message d'erreur -->
	{% if messageErreur %}
		<div class="alert alert-danger text-center" role="alert">
			{{ messageErreur }}
		</div>
	{% endif %}

	<div class="container my-5">
		<h1 class="text-center mb-4">{{ projet.titre }}</h1>
		<p class="text-center">{{ projet.description }}</p>
		<div class="d-flex justify-content-center mt-4">
			<img src="{{ projet.imageCover }}" alt="Image de {{ projet.titre }}" class="img-fluid" style="height: 400px; object-fit: cover;">
		</div>
		<div class="d-flex justify-content-center mt-4">
			<p class="text-center">{{ projet.getDescLongue() }}</p>
		</div>
		{% if projet.lienGit %}
			<div class="d-flex justify-content-center mt-4">
				<a href="{{ projet.lienGit }}" target="_blank" class="btn btn-github">
					<i class="fab fa-github"></i> Voir sur GitHub
				</a>
			</div>
		{% endif %}
	</div>

	<!-- Bouton pour ajouter un item -->
	<div class="container">
		<div class="d-flex justify-content-between align-items-center">
			<h2 class="my-5">Items</h2>
			{% if user is not null %}
				<!-- Bouton Ajouter un item -->
				<button type="button" class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#addModal">Ajouter un item</button>
			{% endif %}
		</div>

		<div class="d-flex flex-wrap justify-content-start gap-4">
			{% if items is empty %}
				<p class="text-center">Ce projet n'a pas été documenté pour le moment.</p>
			{% else %}
				{% for item in items %}
					<div class="item-container d-flex shadow-sm p-3 mb-3" style="min-height: 200px;">
						<!-- Image à gauche -->
						<div class="item-image" style="width: 450px; min-width: 300px;">
							<img src="{{ item.image }}" class="img-fluid h-100 image-item" alt="Image de {{ item.titre }}" title="{{ item.titre }}" style="object-fit: cover;">
						</div>
						
						<!-- Contenu à droite -->
						<div class="item-content d-flex flex-column justify-content-between ps-4 w-100">
							<!-- Titre et description -->
							<div>
								<h3 class="title">{{ item.titre }}</h3>
								<p>{{ item.description }}</p>
							</div>
							
							<!-- Boutons (si utilisateur connecté) -->
							{% if user is not null %}
								<div class="mt-auto text-end">
									<a href="javascript:void(0);" class="btn btn-sm btn-primary" data-bs-toggle="modal" data-bs-target="#editModal{{ item.id }}">Modifier</a>
									<a href="index.php?controller=items&methode=delete&id_item={{ item.id }}" class="btn btn-sm btn-white-text btn-danger" onclick="return confirm('Voulez-vous vraiment supprimer cet item ?');">Supprimer</a>
								</div>
							{% endif %}
						</div>
					</div>

					<!-- Modal de modification pour chaque item -->
					<div class="modal fade" id="editModal{{ item.id }}" tabindex="-1" aria-labelledby="editModalLabel{{ item.id }}" aria-hidden="true">
						<div class="modal-dialog  text-dark">
							<div class="modal-content">
								<div class="modal-header">
									<h5 class="modal-title" id="editModalLabel{{ item.id }}">Modifier
										{{ item.titre }}</h5>
									<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
								</div>
								<div
									class="modal-body">
									<!-- Formulaire de modification -->
									<form method="POST" action="index.php?controller=projets&methode=updateItem&id_item={{ item.id }}" enctype="multipart/form-data">
										<div class="mb-3">
											<label for="titre" class="form-label">Titre</label>
											<input type="text" class="form-control" id="titre" name="titre" value="{{ item.titre }}">
										</div>
										<div class="mb-3">
											<label for="description" class="form-label">Description</label>
											<textarea class="form-control" id="description" name="description" rows="3">{{ item.description }}</textarea>
										</div>
										<div class="mb-3">
											<label for="imageCover" class="form-label">Image de couverture</label>
											<input type="file" class="form-control" id="imageCover" name="imageCover" value="{{ item.imageCover }}">
										</div>
										<input type="hidden" name="itemId" value="{{ item.id }}">
										<input type="hidden" name="projetId" value="{{ projet.id }}">
										<button type="submit" class="btn btn-primary">Sauvegarder</button>
									</form>
								</div>
							</div>
						</div>
					</div>
				{% endfor %}
			{% endif %}
			
		</div>
	</div>

	<!-- Modal pour Ajouter un item -->
	<div class="modal fade" id="addModal" tabindex="-1" aria-labelledby="addModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title text-dark" id="addModalLabel">Ajouter un item</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<div
					class="modal-body">
					<!-- Formulaire d'ajout d'item -->
					<form method="POST" action="index.php?controller=items&methode=createItem&id_projet={{ projet.id }}" enctype="multipart/form-data">
						<div class="mb-3">
							<label for="titre" class="form-label text-dark">Titre</label>
							<input type="text" class="form-control  text-dark" id="titre" name="titre" required>
						</div>
						<div class="mb-3">
							<label for="description" class="form-label text-dark">Description</label>
							<textarea class="form-control" id="description" name="description" rows="3" required></textarea>
						</div>
						<div class="mb-3">
							<label for="imageCover" class="form-label text-dark">Image</label>
							<input type="file" class="form-control" id="imageCover" name="imageCover" required>
						</div>
						<button type="submit" class="btn btn-primary">Ajouter</button>
					</form>
				</div>
			</div>
		</div>
	</div>

	<!-- Modal pour l'affichage de l'image en grand -->
	<div class="modal fade" id="imageCoverModal" tabindex="-1" aria-labelledby="imageCoverModalLabel" aria-hidden="true">
		<div class="modal-dialog modal-lg modal-dialog-centered">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title text-dark" id="imageCoverModalLabel"></h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<div class="modal-body p-0">
					<img id="modalImage" src="" alt="" class="img-fluid w-100">
				</div>
			</div>
		</div>
	</div>
</div>
<script>
	// Fonction pour afficher le nom du fichier dans le champ de l'input file
	const fileInput = document.getElementById('imageCover');
	const fileLabel = document.querySelector('.custom-file-label');

	fileInput.addEventListener('change', (e) => {
		fileLabel.textContent = e.target.files[0].name;
	});

</script>
<script src="JS/projets.js"></script>

{% endblock %}
