{% extends 'base_template.html.twig' %}

{% block title %}Projets
{% endblock %}

{% block content %}
	<div class="container my-5">
		<h1 class="text-center mb-4">Projets</h1>
		<p class="text-center">Voici les projets que pu réaliser depuis le début de mon BUT Informatique.</p>

		<div class="d-flex justify-content-between align-items-center mb-4">
			<h2 class="mt-5">Tous mes projets</h2>
			<form method="GET" action="index.php" class="d-flex align-items-end">
				<input type="hidden" name="controller" value="projets">
				<input type="hidden" name="methode" value="index">

				<div class="form-group me-3">
					<label for="type" class="form-label">Type de projet</label>
					<select name="type" id="type" class="form-select">
						<option value="">Tous</option>
						<option value="Universitaire">Universitaire</option>
						<option value="Personnel">Personnel</option>
						<option value="Professionnel">Professionnel</option>
					</select>
				</div>

				<div class="form-group me-3">
					<label for="techno" class="form-label">Technologie</label>
					<select name="techno" id="techno" class="form-select">
						<option value="">Toutes</option>
						{% for techno in technologies %}
							<option value="{{ techno.id }}">{{ techno.nom }}</option>
						{% endfor %}
					</select>
				</div>

				<button type="submit" class="btn btn-primary">Filtrer</button>
			</form>
		</div>


		<div class="content">
			<div class="works-list pt-2">
				{% for project in projets %}
					<div class="item">
						<div class="d-flex">
							<img src="{{ project.imageCover }}" class="img-fluid" alt="Image de {{ project.titre }}" style="width: 150px; height: auto; margin-right: 20px; border-radius: 5px;">
							<div class="details">
								<h3 class="mb-2">{{ project.titre }}</h3>
								<div class="item-info d-flex align-items-center mb-2">
									<div class="year-badge badge bg-secondary me-2">{{ project.annee }}</div>
									<h4 class="m-0 small secondary">
										{% for techno in project.technologies %}
											{{ loop.first ? '' : ', ' }}{{ techno.nom }}
										{% endfor %}
									</h4>
								</div>
								<p>{{ project.description }}</p>
							</div>
						</div>
					</div>
					<hr>
				{% endfor %}
			</div>
		</div>
	</div>


{% endblock %}
